{% if is_granted('ROLE_PROPRIO') and cars is not empty %}
    <div class="row  pt-5 container">
        <h3 class="title-pages">Mes annonces</h3>
        <table class="table table-striped table-hover">
            <thead>
            </thead>
            <tbody>
                {% for index,car in cars %}
                    <tr class="table-light">
                        <td><a href="{{ path('car',{id:car.id}) }}">{{ car.title }}</a></td>
                        <td>
                            <a href="{{ path('car_edit', {id: car.id}) }}" class="btn btn-md btn-info">Modifier</a>
                        </td>
                        <td>
                            <form action="{{ path('car_delete', {id:car.id}) }}" method="post">
                                <input type="hidden" name="token" value="{{ csrf_token('delete-car') }}" />
                                <input type="hidden" name="_method" value="DELETE" />
                                <button type="submit" class="btn btn-md btn-danger">
                                    Supprimer
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

  {% endif %}