{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

<div class="container mt-5">
<div class="fushbandeau">

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger">{{ flashError }}</div>
    {% endfor %}


    {% for message in app.flashes('success') %}
        <br>
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div>
        <div>
            <div>
                <h1>S'incrire</h1>


                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.firstName) }}
                    {{ form_row(registrationForm.lastname) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.birthdate) }}
                    {{ form_row(registrationForm.address) }}
                {{ form_row(registrationForm.agreeTerms) }}


                    <div class="log">
                        <button class="logg btn-lg btn-primary " type="submit">
                            S'inscrire
                        </button>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
        <br>
        <br>
        </div>
        </div>
    {% block footer %}

    {% endblock %}


</div>

{% endblock %}
