{# Page de la liste des voitures #}

{% extends 'base.html.twig' %}



{% block body %}

{% include "partials/_flash_msg.html.twig" %}
<div class="container bg-dark" style="overflow-x: hidden;">
    <h1 class="title-pages text-center p-4"> Liste des véhicules</h1>
    {% if not cars %}
      <p class="lead text-white mt-5 text-center">Aucun résultat(s) trouvé(s)</p>
    {% else %}
      <div class="row">
            {% for car in cars %} 
            {# {% dump(car) %} #}
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="{{ path('car', {id:car.id})}}">
                      <img src="{{ asset('uploads/'~car.images.0.name) }}" class="card-car-img" alt="{{ car.title }}">
                    </a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="{{ path('car', {id:car.id})}}">{{ car.year|date('Y') }} {{ car.brand.name}} {{car.model}}</a>
                    </h4>
                    <h5>{{ car.price}} &euro;</h5>
                    <h6>{{ car.city.name }}</h6>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">★ ★ ★ ★ ☆</small>
                  </div>
                </div>
              </div>
            {% endfor %}
      </div>
    {% endif %}
    {{ knp_pagination_render(	
        cars,	
        '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',	
        {}, 	
        {	
        'align': 'center',	
        'size': 'large',	
        'rounded': true,	
        }	
    ) }} 	
</div>

{% endblock %}