{% extends 'base.html.twig' %}

{% block body %}
<div class="hero-banner">
    <div class="hero-baseline">
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}	
        <h1>{{app.user.firstname}}, avec nous, partez O'Cars de tour !</h1>	
      {% else %}
        <h1>Partez O'Cars de tour !</h1>
      {% endif %}
    </div>

    {{ form_start(search_form, {attr: {class: 'hero-search-form', novalidate: 'novalidate'}}) }}

        {{ form_row(search_form.model) }}
        {{ form_row(search_form.brand) }}


      <button type="submit" class="btn btn-primary w-100">Filtrer</button>

    {{ form_end(search_form) }}
</div>

<div class="container d-flex justify-content-center">
  <h2 class="h2-title-home">Nos dernières annonces</h2>
</div>
<div class="container d-flex justify-content-center">
  <div class="row">
  {% for car in carsLastThree %}

          <div class="col-lg col-md mb-4">
            <div class="card h-100">
                <a href="{{ path('car', {id:car.id})}}">
                    <img src="{{ asset('uploads/'~car.images.0.name) }}" class="card-car-img" alt="{{ car.title }}">
                </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ path('car', {id:car.id})}}">{{ car.year|date('Y') }} {{ car.brand.name}} {{car.model}}</a>
                </h4>
                <h5>{{ car.price}} &euro;</h5>
                <h6>{{ car.city.name }}</h6>
              </div>
              <div class="card-footer">
                <small class="text-muted">★ ★ ★ ★ ★</small>
              </div>
            </div>
          </div>

  {% endfor %}
  </div>
</div>
{% endblock %}
