{% extends 'base.html.twig' %}

{% block body %}
<div class="container position-relative mt-3">
    <div class="position-absolute">
      <h1>Partez O'Cars de tour !</h1>
    </div>
    <img src="https://source.unsplash.com/1600x300/?cars,bmw" class="img-fluid" alt="Responsive image">
    {# <form class="form-inline my-2 my-lg-0 position-absolute search-form-middle">
      <input class="form-control mr-sm-2" type="text" placeholder="Entrez votre modèle ou marque de voiture...">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> #}

    {{ form(search_form, {'attr': {'novalidate': 'novalidate', 'class': 'col-md-6 mt-5'}}) }}
</div>
<div class="container d-flex justify-content-center">
  <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
          {%dump(carsSlider)%}
          {% for index,car in carsSlider %}
  
            <div class="carousel-item {{ index == 0 ? 'active' : ''}} ">
              <a href="{{ path('car', {id:car.id})}}"><img class="card d-block img-fluid" src={{ car.images.0.name }} alt=""></a>
            </div>

          {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
  </div>

</div>
<div class="row container justify-content-center">
  <h2>Nos dernières annonces</h2>
</div>
<div class="container d-flex justify-content-center">
  <div class="row">
  {% for car in carsLastThree %}
    
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="{{ path('car', {id:car.id})}}"><img class="card-img-top" src={{ car.images.0.name }} alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ path('car', {id:car.id})}}">{{ car.year|date('Y') }} {{ car.brand.name}} {{car.model}}</a>
                </h4>
                <h5>{{ car.price}} &euro;</h5>
                <h6>{{ car.city.name }}</h6>
              </div>
              <div class="card-footer">
                <small class="text-muted">★ ★ ★ ★ ☆</small>
              </div>
            </div>
          </div>

  {% endfor %}
  </div>
</div>
{% endblock %}
