{% extends 'base.html.twig' %}

{% block body %}
<div class="hero-banner">
    <div class="hero-baseline">
      <h1>Partez O'Cars de tour !</h1>
    </div>
    {# {{ form(search_form, {'attr': {'novalidate': 'novalidate', 'class': 'hero-search-form'}}) }} #}
    {{ form_start(search_form, {attr: {class: 'hero-search-form', novalidate: 'novalidate'}}) }}

        {{ form_row(search_form.model) }}
        {{ form_row(search_form.brand) }}


      <button type="submit" class="btn btn-primary w-100">Filtrer</button>

    {{ form_end(search_form) }}
</div>
<div class="container d-flex justify-content-center">
  <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
          </ol>
          <div class="carousel-inner" role="listbox">

          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
  </div>

</div>
<div class="container d-flex justify-content-center">
  <h2 class="text-primary">Nos dernières annonces</h2>
</div>
<div class="container d-flex justify-content-center">
  <div class="row">
  {% for car in carsLastThree %}
    
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="{{ path('car', {id:car.id})}}"><img class="card-img-top" src={{ car.images.0.name }} alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ path('car', {id:car.id})}}">{{ car.year|date('Y') }} {{ car.brand.name}} {{car.model}}</a>
                </h4>
                <h5>{{ car.price}} &euro;</h5>
                <h6>{{ car.city.name }}</h6>
              </div>
              <div class="card-footer">
                <small class="text-muted">★ ★ ★ ★ ★</small>
              </div>
            </div>
          </div>

  {% endfor %}
  </div>
</div>
{% endblock %}
