{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1 class="my-5"> Gestion des utilisateurs</h1>
        <table class="table-hover">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse mail</th>
                <th>Role</th>
                <th>Modifier/ </th>
                <th>Supprimer</th>
            </tr>
            </thead>

            <tbody>
            {% for user in users %}
                <tr>
                    <td> {{ user.firstName }} </td>
                    <td> {{ user.lastname }} </td>
                    <td> {{ user.email }} </td>
                    <td> {{ user.role}} </td>


                    <td>
                        <a href="{{ path('admin_users_edit', {'id': user.id}) }}">x</a>
                    </td>
                    <td>
                        <a href="{{ path('admin_users_delete', {'id': user.id, 'user':user}) }}">x</a>
                    </td>

                </tr>
            {% endfor %}



            </tbody>

        </table>
    </div>

{% endblock %}
