{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin des Utilisateurs{% endblock %}

{% block body %}

<div class="container">

<br>
<br>
<br>

<h1>Modifier le profil de : </h1>
<h3>{{ user.lastname }} {{ user.firstName }}</h3>


    {{ form_start(form) }}
     {{ form_row(form.email , {'label': 'Email, attention à bien entrer une adresse valide si vous modifiez'}) }}
    {{ form_row(form.firstName, {'label':'Nom' }) }}
    {{ form_row(form.lastName, {'label':'Prenom' }) }}
    {{ form_row(form.address, {'label':'Adresse' }) }}
    {{ form_row(form.birthdate, {'label':'Date de naissance' }) }}
    {{ form_row(form.status, {'label': 'Status : STATUS_ACTIF =1 /  STATUS_UNVERIFIED =2 / STATUS_DELETED =3' }) }}



    <div class="log">
        <button class="logg btn-lg btn-primary " type="submit">
            Modifier le profil de cet utilisateur
        </button>
    </div>

    {{ form_end(form) }}

</div>


    <br>
    <br>
    <br>

{% endblock %}
