{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin des Utilisateurs{% endblock %}

{% block body %}

<div class="container">

<br>
<br>
<br>

<h1>Modifier le profil de : </h1>
<h3>{{ user.lastname }} {{ user.firstName }}</h3>


    {{ form_start(form) }}
     {{ form_row(form.email , {'label': 'Email, attention à bien entrer une adresse valide si vous modifiez'}) }}
    {{ form_row(form.firstName, {'label':'Nom' }) }}
    {{ form_row(form.lastName, {'label':'Prenom' }) }}
    {{ form_row(form.address, {'label':'Adresse' }) }}
    {{ form_row(form.birthdate, {'label':'Date de naissance' }) }}
    {{ form_row(form.status, {'label': 'Status : STATUS_ACTIF =1 /  STATUS_UNVERIFIED =2 / STATUS_DELETED =3' }) }}


    {% for role in roles %}
        {% if role == "ROLE_LOCATAIRE" %}
            {{ form_row(form.role, {'label':' Rôle :'}) }}

        {% endif %}
    {% endfor %}


    <table class=" table-hover">
        <thead>
        <tr>
            <th scope="col">Voiture</th>
            <th scope="col"> | immatriculation</th>
            <th scope="col"> | Modifier</th>
            <th scope="col"> | Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for index,car in cars %}
            <tr class="table-hover">
                <td>{{ car.title }}</td>
                <td> | {{ car.licensePlate }}</td>
                <td> | <a href="{{ path('admin_car_edit', {id: car.id}) }}">x</a></td>
                <td> | <a href="{{ path('admin_car_delete', {id: car.id}) }}">x</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br>
    <div class="log">
        <button class="logg btn-lg btn-primary " type="submit">
            Modifier le profil de cet utilisateur
        </button>
    </div>

    {{ form_end(form) }}
</div>


    <br>
    <br>
    <br>

{% endblock %}
