<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <title>{% block title %}O'cars{% endblock %}</title>
    {% block stylesheets %}

    {# Bootstrap CDN  #}
    {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> #}


    {# Bootswatch CDN #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css"
        integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">

    {# fichier css local #}
    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" />

    {# Favicon #}
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.png') }}" />
    
    {# Calendar#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


    {% endblock %}

    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    {# Calendar  #}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.js"></script>
    {# // <script src="{{ asset('js/main.js') }}"></script> #}
    
    {% endblock %}


</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('homepage')}}">
                <img class="logo-img" src="{{ asset('assets/images/logo.png') }}" alt="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('homepage')}}">Accueil
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about') }}">Nous contactez</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_loginPage') }}">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cars_list') }}">Liste des voitures</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_account') }}">Mon compte</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}"> Déconnexion</a>
                            <p>Bonjour {{ app.user.firstname }} !</p>
                        </li>

                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </nav>
        <div class="main-min-height {% block centerContent %}{% endblock %}">
            {% block body %}
            {% endblock %}
        </div>
    <!-- Footer -->
    <footer class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="row container justify-content-center">
            <p class="text-white">Copyright &copy; O'Cars 2021</p>
        </div>
        <!-- /.container -->
    </footer>
</body>

</html>