{% extends 'base.html.twig' %}

{% block body %}


    <div class="container pt-5 bg-dark">

        <h1 class="title-pages">Modification de mon profil</h1>
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.birthdate) }}
            {{ form_row(form.address) }}
            <button class="logg btn-lg btn-primary " type="submit">
                Valider
            </button>
        {{ form_end(form) }}
        <a class="p-3 d-block"href="{{path('user_account')}}">Retour vers la liste</a>

    </div>

{% endblock %}